@import url('https://font.googleapis.com/css2?family=Ubuntu&diasplay=swap');
@import url('https://font.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liter&family=Stylish&display=swap');
body {
    background-color:rgb(196, 96, 56);
}

*{
    margin: 0;
    padding: 0;
}

nav {
   font-family:'Ubuntu',sans-serif;
}
nav ul{
    display:flex;
    align-items: center;
    list-style-type:none;
    height:85px;
    background-color: black;
    color:white;
}
nav ul li{
    padding:0 12px;
    
}
.brand img{
    width: 44px;
    padding:0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    background-image: url("2.png");
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding:32px;
  
}
.bottom{
    position:sticky;
    height:100px;
    background-color: black;
    color:white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top :20px;
}
#myProgressBar{
    width:80vw;
    cursor:pointer;
   
}
.songItemContainer
{
    margin-top: 70px;
}
.songItem{
    height: 50px;
    display: flex;

    color : white;
    margin: 12px 0;
    background-color: rgb(179, 170, 170);
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 40px;
    margin:0 23px;
    border-radius:34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor:pointer;
}
.SongInfo{
    position: absolute;
    left: 10px;
    font-family: 'Varela Round',sans-serif;
}
.SongInfo img{
    opacity:0;
   transition: opacity is ease-in;
}
